/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;

}

/*CSS DIV PRINCIPLAE*/

div.wrapper{
  flex-wrap: wrap;
}

/*CSS HEADER*/

div>header.sidebar{
  width: 70px;
  height: calc(100vh - 90px);
  background-color: black;
  border: 1px dashed magenta;
}




div>header.sidebar>section.sezione-header-nav{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


div>header.sidebar ul{
 list-style: none;
 
 border: 1px dashed magenta;
}

div>header.sidebar ul>li{
  text-align: center;
}

ul>li>img#icon{
 color:white;
 
}

div>header.sidebar ul>li>img{
  height: 100%;
  width: 50%;
  
  
  
}









/*CSS MAIN*/
div>main{
  background-color: blue;
  height: calc(100vh - 90px);
  width: calc(100% - 70px);
  overflow: auto;
}

div>main>div.call{
  height: 70px;
  background-color: rgb(8, 11, 18);
  
  
}

div>main>div{
  height: 1500px;
  background-color: burlywood;
}







/*CSS FOOTER*/
div>footer{
  width: 100%;
  height: 90px;
  background-color: black;
}


/*MEDIA QUERY SM(SMALL)*/


@media all and (min-width: 576px){
  div>header.sidebar{
    width: 200px;
    
  }
   
  div>main{
    width: calc(100% - 200px);
  }

  

}

@media all and (min-width: 768px){
  

  
}

@media all and (min-width: 992px){
  
}