/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

.flex {
  display: flex;

}

/*CSS DIV PRINCIPLAE*/

div.wrapper{
  flex-wrap: wrap;
}

/*CSS HEADER*/

div>header.sidebar{
  width: 70px;
  height: calc(100vh - 90px);
  background-color: black;
 /* border: 1px dashed magenta;*/
}


.flex-first-menu{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: center;
}

div>header.sidebar>section.sezione-header-nav{
  height: 100%;
  width: 100%;
 
 
  
}


div>header.sidebar ul{
 list-style: none;
 
 border: 1px dashed magenta;
}

div>header.sidebar ul>li{
  text-align: center;
}

ul>li>img#icon{
filter: invert(1);
 
}

div>header.sidebar ul>li>img{
  height: 100%;
  width: 50%;
}

div>header.sidebar>section.menu-ghost{
  display: none;
  
}









/*CSS MAIN*/
div>main{
  background-color: blue;
  height: calc(100vh - 90px);
  width: calc(100% - 70px);
  overflow: auto;
}

div>main>div.call{
  height: 70px;
  background-color: rgb(8, 11, 18);
  
  
}

div>main>div{
  height: 1500px;
  background-color: burlywood;
}







/*CSS FOOTER*/
div>footer{
  width: 100%;
  height: 90px;
  background-color: rgb(40, 40, 40);
}


/*MEDIA QUERY SM(SMALL)*/


@media all and (min-width: 576px){

  

/*CSS MENU PRINCIPale*/
  div>header.sidebar>section.sezione-header-nav{
    display: none;
  }


/* HEDER*/

/*CSS MENU A SCOMPARSA, MENU GHOST*/ 

div>header.sidebar{
    width: 200px;
    
  }
   
  div>main{
    width: calc(100% - 200px);
  }
  div>header.sidebar>section.menu-ghost{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
     
    
    
  }

  /*Primo UL dove c'è il logo*/
   
  div>header.sidebar>section.menu-ghost> div>ul{
    color: white;
  }

  div>header.sidebar>section.menu-ghost>div>ul>li{
    color: white;
    align-items: center;
    padding-left: 1rem;
    text-align: start;
   
  }
  div>header.sidebar>section.menu-ghost>div>ul>li:first-child{
    padding-top: 0.5rem;
    text-align: start;
   
  }


  div>header.sidebar>section.menu-ghost>div>ul>li:first-child>img{
    width: 70%;
  }


  /*Secondo UL dove ci sono i singoli loghi*/

  div>header.sidebar>section.menu-ghost>div>ul>li.li-menu>img
  {
    width: 15%;
  }

  div>header.sidebar>section.menu-ghost>div>ul>li.li-menu>span{
    width: 85%;
    text-align: start;
  }

  /*Terzo UL con le playlist*/
   
  ul.third-ul>li:nth-child(2)>i{
    background-color: rgb(163, 163, 163);
    padding: 0.75rem;
    color: black;
    margin-top: 0.25rem;
    
   
  }

  /*quarto UL*/





  /*Prova con hover*/
  div>header.sidebar>section.menu-ghost>div>ul>li:hover{
    border-left: 5px solid green;
    
  }
  



/*MEDIA QUERY md(MEDium)*/



}

@media all and (min-width: 768px){
  

  
}

/*MEDIA QUERY lg(LARGE)*/


@media all and (min-width: 992px){
  
}